@import url(./vendor/fonts/fonts.css);

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Trebuchet MS', sans-serif;
  --BASIC-COLOR: #1698d9;
  --BASIC-COLOR-HOVER: #2ea8e6;
  --SELECTED-COLOR: #d91667;
  --SELECTED-COLOR-HOVER: #e52e7a;
  --DISABLED-COLOR: #b3b3b3;
}


